<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Application Security</title>
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% if 'authenticated' not in session %}<!--directs browser to login route if the user is not logged in-->
        <script>
            window.location.href = "{{ url_for('login') }}"; 
        </script>
    {% endif %}

    <!--Uplad front end-->
    <div class="container">
        <h1>Web Application Security</h1>

        <div class="card">
            <h3>Upload and Scan a File</h3>
            <form id="uploadForm" method="post" enctype="multipart/form-data">
                <input type="file" id="fileInput" name="file" required>
                <button type="submit">Upload and Scan</button>
            </form>
        </div>

        <!--Downlaod button script-->
        <div id="downloadSection" class="hidden">
            <h3>Download File</h3>
            <button id="downloadButton">Download File</button>
        </div>

        <div id="result"></div>

        <!-- Logout Button -->
        <form method="post" action="{{ url_for('logout') }}">
            <button type="submit" class="logout-btn">Logout</button>
        </form>
    </div>

    <!-- Upload Page Script -->
    
      <script src="/static/js/upload.js"></script>

 

</body>
</html>
