<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - WebApp Security</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="card">
        <h2>Login</h2>
        
        <!-- This Display Flash Messages to show pop-ups -->
        {% with pop_messages = get_flashed_messages() %}
            {% if pop_messages %}
                <ul class="flash-messages">
                    {% for message in pop_messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        
        <!-- Used to display the login username and password text fields and sends the post ro -->
        <form id="loginForm" action="{{ url_for('login') }}" method="post" data-url="{{ url_for('login') }}">
        
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>

    </div>

    <!-- JavaScript to psot the login data in to the url and send it to the flask-->
       <!-- External JS file only! -->
    <script src="/static/js/login.js"></script>
</body>
</html>
