<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload a File - Web Application Security</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Upload a File for Security Scanning</h1>
    <main>
        <form method="post" enctype="multipart/form-data">
            <div class="file-input">
                <input type="file" name="file" required>
            </div>
            <button type="submit">Upload and Scan</button>


        </form>
    </main>
</body> -->